<!-- Jumbotron donde se encuentra el nombre, resumen y el input con el boton -->
<div class="jumbotron">
  <h1 class="display-4">Easymoji</h1>
  <p class="lead">Introduzca una frase para que nuestro modelo pueda predecir un emoji</p>
  <hr class="my-4">
  <form>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Frase" aria-describedby="button-addon2" autofocus
        [(ngModel)]="frase.texto" name="texto">
      <div class="input-group-append">
        <button class="btn btn-outline-primary" type="submit" id="button-addon2" (click)="saveFrase()">Procesar</button>
      </div>
    </div>
  </form>
</div>


<!-- progress bar -->
<div class="container" style="text-align: center;" [hidden]="!progress">
  <div class="spinner-border text-warning" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<!-- Grupo de cards donde se van a mostrar los resultados -->
<div class="card-group" [hidden] = "!isShown">

  <!-- Emoji ganador -->
  <div class="card" id="winner">
    <h1 class="card-title">{{ emojis[0] }}</h1>
    <div class="card-body">
      <h5 class="card-title">Porcentaje: {{ porcentaje[0] | percent:'0.3' }}</h5>
    </div>
  </div>

  <div class="card">
    <h1 class="card-title">{{ emojis[1] }}</h1>
    <div class="card-body">
      <h5 class="card-title">Porcentaje: {{ porcentaje[1] | percent:'0.3' }}</h5>
    </div>
  </div>

  <div class="card">
    <h1 class="card-title">{{ emojis[2] }}</h1>
    <div class="card-body">
      <h5 class="card-title">Porcentaje: {{ porcentaje[2] | percent:'0.3' }}</h5>
    </div>
  </div>

</div>

<!-- Danger alert que avisa al usuario que algo indebido ocurrio en el sistema -->
<div class="alert alert-danger" role="alert" [hidden] = "!showDanger">
  Error! Try again
</div>